
.dbrz-vde-scrollbar {
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.dbrz-vde-inline {
  display: inline;
}

.dbrz-vde-input {
  min-height: 12vh;
}

.dbrz-vde-fix-height-container {
  min-height: 12vh;
}

.dbrz-vde-fix-max-height {
  max-height: 30vh;
  overflow: auto;
  /*overflow: scroll;*/
}

.dbrz-vde-content-cell {
  padding: 10px;
}

.dbrz-vde-presentation-divider-border {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #fff !important;
}

.dbrz-vde-presentation-text-informal {
  display:block;
  position:sticky;
  z-index: 2;
  top: 0px;
  left: 0px;
  font-weight: 300;
  font-family: 'Lato Light';
  letter-spacing: 0.1em;
  /*font-family: 'Courier New', Courier, monospace;*/
  color: #00ffff;
  background-color: #181f33;
  /*color: #57ffdc;*/
  /*color: #fff;*/
}

.dbrz-vde-presentation-text-content {
  font-weight: 200;
  font-size: medium;
  font-family: monospace;
  /*font-family: 'Courier New', Courier, monospace;*/
  color: #fff;
}

.dbrz-vde-button {
  border-width: 0px;
  padding: 10px;
  font-weight: 500;
  font-family: 'Open Sans', 'Lato', 'Lato Light';
  letter-spacing: 0.2em;
  background-color: #0097ee;
  color: #fff;
}