
.dbrz-vde-scrollbar {
  /* Width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #181f33;
    /*background: #1f293f;*/
    /*background: #f1f1f1;*/
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.dbrz-vde-inline {
  display: inline;
}

.dbrz-vde-general-container {
  height: 100%;
  overflow: hidden;
  background-color: #1f293f;
}

.dbrz-vde-fix-height-container {
  min-height: 15vh;
}

.dbrz-vde-content-scroll {
  max-height: 30vh;
  overflow: auto;
  overflow-x: hidden;
}

.dbrz-vde-content-cell {
  padding: 10px;
}

.dbrz-vde-presentation-text-informal {
  display:block;
  position:sticky;
  z-index: 2;
  top: 0px;
  left: 0px;
  font-weight: 300;
  font-family: 'Lato Light';
  letter-spacing: 0.1em;
  color: #00ffff;
  background-color: #181f33;
}

.dbrz-vde-presentation-text-content {
  padding: 10px!important;
  display:block;
  min-height: 13vh;
  font-weight: 200;
  font-size: medium;
  font-family: monospace;
  color: #fff;
  background-color: #1f293f;
}

.dbrz-vde-presentation-text-content-ccr {
  padding: 10px!important;
  font-size: 80px!important;
  font-weight: 100!important;;
  font-family: 'Open Sans', 'Lato Light' !important;;
  color: #fff!important;
  background-color: #1f293f!important;;
}

.dbrz-vde-controller {
  width: 100%;
  padding: 10px;
  font-weight: 500;
  font-family: 'Open Sans', 'Lato', 'Lato Light';  
  background-color: #0097ee;
}

.dbrz-vde-controller-button {
  border-width: 0px;
  font-weight: 500;
  font-family: 'Open Sans', 'Lato', 'Lato Light';
  font-size: large;
  letter-spacing: 0.2em;
  color: #fff;
}

.dbrz-vde-controller-button-icon {
  font-size: large;
}